@{
    ViewData["Title"] = "Home";
}

<header class="container d-flex headercont" style="margin-top: 100px;">
    <h2 class="display-5" style="font-weight: 300;">Hello.<br> I am a Developer.</h2>
</header>